body {
    background-color: #010203;
    margin: 0;
    padding: 0;
}

section {
    background: #090E16;
    padding: 60px;
    margin: 40px auto;
    max-width: 1000px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
    min-height: 100vh;
}